@font-face {
  font-family: "Sans Bold";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sans lighter";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}

body {
  background-color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sans lighter";
}

/*******CAREER HERO START*****/
.career_section_three_imgs {
  width: 100%;
  height: auto;
  min-height: 59vh;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

/*******CAREER HERO END*****/


/*******CAREER HEADER START*****/
.career_container_header {
  width: 100%;
  height: auto;
  background-color: #212C85;
}

.career_container_header_divImg {
  width: 100%;
}

.career_container_header_div_imgCircle {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.career_container_header_div {
  width: 100%;
  height: auto;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 180px;
  padding-bottom: 200px;
}

.career_container_header_div_h1 {
  color: #FFFFFF;
  font-size: 100px;
  margin-bottom: 25px;
}

.career_container_header_div_h3 {
  color: #F9C216;
  font-size: 40px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/*--MediaQueries--*/
@media (max-width: 1366px) {
  .career_container_header_div {
    padding-top: 80px;
    padding-bottom: 200px;
  }
  .career_container_header_div_h1 {
    font-size: 70px;
  }
}
@media (max-width: 840px) {
  .career_container_header_div {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 700px) {
  .career_container_header_div {
    padding-top: 20px;
  }
  .career_container_header_div_h1 {
    font-size: 50px;
  }
  .career_container_header_div_imgCircle {
    width: 90px;
  }
}
@media (max-width: 600px) {
  .career_container_header_div_imgCircle {
    display: none;
  }
}
@media (max-width: 500px) {
  .career_container_header_div {
    padding-left: 50px;
    padding-right: 50px;
  }
  .career_container_header_div_h1 {
    font-size: 40px;
  }
}
@media (max-width: 1920px) {
  .career_container_header_divImg {
    width: 100%;
    height: auto;
  }
  .career_container_header_div_img {
    max-width: 100%;
    height: auto;
    min-height: 350px;
  }
}
/*******CAREER HEADER END*****/

/*********BUTTONS***********/
button {
  margin: 25px 0 0 0;
  cursor: pointer;
  background-color: #F9C216;
  border-radius: 20px;
  border: none;
  color: #343D3F;
  padding: 10px 25px 10px 25px;
  font-size: 21px;
}
button:hover {
  transform: scaleX(1.1);
}

.finalSection_button {
  margin: 25px 0 0 0;
  cursor: pointer;
  background-color: #F9C216;
  border-radius: 20px;
  border: none;
  color: #343D3F;
  padding: 10px 25px 10px 25px;
  font-size: 21px;
  margin-top: 2.0833333333vw;
  padding-left: 2.6041666667vw;
  padding-right: 2.6041666667vw;
}
.finalSection_button:hover {
  transform: scaleX(1.1);
}

/*******BUTTONS END*********/

/*******CAREER SPACER*****/
.career_spacer {
  width: 100%;
  height: auto;
  background-color: #212C85;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 278px;
  padding-right: 278px;
}

.career_spacer_h2 {
  opacity: 100%;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.career_spacer_span {
  color: #F9C216;
}

.career_spacer_section1 {
  width: 100%;
  height: auto;
  background-color: #212C85;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 278px;
  padding-right: 278px;
}

.career_spacer_section1_h2 {
  opacity: 100%;
  font-size: 50px;
}

.career_spacer_section1_span {
  color: #F9C216;
}

@media (max-width: 800px) {
  .career_spacer_h2 {
    font-size: 35px;
  }
}
/*--MediaQueries--*/
@media (max-width: 1630px) {
  .career_spacer {
    padding-left: 190px;
    padding-right: 190px;
  }
  .career_spacer_section1 {
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (max-width: 1480px) {
  .career_spacer {
    padding-left: 180px;
    padding-right: 180px;
  }
  .career_spacer_section1 {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (max-width: 1366px) {
  .career_spacer {
    padding-left: 150px;
    padding-right: 150px;
  }
  .career_spacer_section1 {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1160px) {
  .career_spacer {
    padding-left: 130px;
    padding-right: 130px;
  }
  .career_spacer_section1 {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (max-width: 850px) {
  .career_spacer {
    padding-left: 100px;
    padding-right: 100px;
  }
  .career_spacer_section1 {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 800px) {
  .career_spacer_h2 {
    font-size: 35px;
  }
}
@media (max-width: 680px) {
  .career_spacer {
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
  .career_spacer_section1 {
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .career_spacer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .career_spacer_h2 {
    font-size: 30px;
  }
}
/*******CAREER SPACER END*****/

/*******CASE CARD START*****/
.career_card {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1200px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5em;
  flex-wrap: wrap;
}

.career_card__item {
  flex-basis: 280px;
  max-width: 450px;
  flex-grow: 1;
}

.career_card__content_features {
  width: 70%;
  height: 250px;
  margin: 0 auto;
  text-align: start;
}

.career_card__content {
  width: 80%;
  margin: 0 auto;
}

.career_card__title {
  margin-bottom: 1em;
  font-family: "Sans Bold";
  font-weight: bold;
}

.career_section_card_jobs {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5em;
  flex-wrap: wrap;
  padding: 50px 0;
}

.career_job {
  padding: 15px 0 15px 0;
  margin: 20px;
  border: 0.5px solid rgba(52, 61, 63, 0);
}

.career_job:hover {
  border: 0.5px solid rgba(52, 61, 63, 0.2470588235);
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}

/*---MediaQuerys---*/
@media (max-width: 1630px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (max-width: 1480px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (max-width: 1200px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1160px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (max-width: 850px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 100px;
    padding-right: 100px;
  }
  .career_card__item {
    max-width: 100%;
  }
  .career_section1_div_imgCircle {
    display: none;
  }
}
@media (max-width: 680px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 420px) {
  .career_section_job_Openings_page-item_divCategory_span {
    border-radius: 5px;
  }
}
/*******CASE CARD END*****/

/*******CAREER FEATURE START*****/
.career_section1 {
  width: 100%;
  height: auto;
  padding-left: 290px;
  padding-right: 270px;
  margin-top: 120px;
  justify-content: center;
}

.career_section1_h4 {
  text-align: center;
  font-size: 60px;
  color: #343D3F;
  font-family: "Sans lighter";
  font-weight: lighter;
}

.career_section1_div_imgCircle {
  clear: both;
  width: 100%;
  float: right;
  text-align: end;
  background-color: #FFFFFF;
  padding-right: 80px;
  padding-bottom: 20px;
}

.career_section1_imgCircle {
  margin: 0%;
  padding: 0%;
}

.career_section1 p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
}

.career_section1_title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
}

/*--MediaQueries--*/
@media (max-width: 1630px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (max-width: 1366px) {
  .career_section1_h4 {
    font-size: 55px;
  }
}
@media (max-width: 1480px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (max-width: 1200px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1160px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (max-width: 850px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 100px;
    padding-right: 100px;
  }
  .career_card__item {
    max-width: 100%;
  }
  .career_section1_div_imgCircle {
    display: none;
  }
}
@media (max-width: 680px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .career_section1, .career_section_job_Openings {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 420px) {
  .career_section_job_Openings_page-item_divCategory_span {
    border-radius: 5px;
  }
}
/*******CAREER FEATURE END*****/

/*******CAREER JOBS START*****/
.career_job_Openings_h1 {
  color: #343D3F;
  font-size: 60px;
  margin-top: 6%;
  text-align: center;
  letter-spacing: 2.4px;
  font-weight: lighter;
}

.career_job_Openings_span {
  color: #F9C216;
  letter-spacing: 2.4px;
  font-weight: lighter;
}

.career_section_job_Openings_pagination_buttons_next_div {
  margin-top: 0;
  width: 100%;
  float: right;
  margin-right: 279px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
  width: 10%;
  margin-bottom: 100px;
}

.career_section_job_Openings_pagination_buttons {
  background-color: transparent;
  text-align: end;
  color: rgba(51, 51, 51, 0.6431372549);
  font-weight: lighter;
}

.career_section_job_Openings_pagination_buttons:hover {
  text-decoration: underline;
}

.career_section_job_Openings_page-item_divCategory {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 23px;
  margin-bottom: 33px;
}

.career_section_job_Openings_page-item_divCategory_span {
  border: 1px solid #111B6B;
  border-radius: 20px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-size: 16px;
}

/*--MediaQueries--*/
@media (max-width: 2190px) {
  .career_section_card_jobs {
    padding: 0;
  }
}
@media (max-width: 420px) {
  .career_section_job_Openings_page-item_divCategory_span {
    border-radius: 5px;
  }
}
/*******CAREER JOB END*****/


/*******FINAL SECTION START*****/
.sectionEnd {
  margin-top: 7.8125vw;
  width: 100%;
  height: 35vh;
  padding-left: 10.4166666667vw;
  padding-right: 10.4166666667vw;
  display: flex;
  text-align: center;
}

.sectionEnd_hr {
  width: 0.3125vw;
  height: 26.0416666667vw;
  background-color: #333;
  transform: rotateY(90deg);
}

.sectionEnd_div1 {
  width: 50%;
  height: 50%;
  border-right: 1px solid rgba(51, 51, 51, 0.0784313725);
}

.sectionEnd_div2 {
  width: 50%;
  height: 100%;
}

.sectionEnd_h1 {
  font-size: 3.125vw;
  color: #343D3F;
}

.sectionEnd_button {
  margin-top: 2.0833333333vw;
  padding-left: 2.6041666667vw;
  padding-right: 2.6041666667vw;
}

/*******FINAL SECTION END*****/
