@font-face {
  font-family: "Sans Bold";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sans lighter";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}
body {
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sans lighter";
}

/*********BUTTONS***********/
button {
  margin: 25px 0 0 0;
  cursor: pointer;
  background-color: #F9C216;
  border-radius: 20px;
  border: none;
  color: #343D3F;
  padding: 10px 25px 10px 25px;
  font-size: 21px;
}
button:hover {
  transform: scaleX(1.1);
}

.finalSection_button {
  margin: 25px 0 0 0;
  cursor: pointer;
  background-color: #F9C216;
  border-radius: 20px;
  border: none;
  color: #343D3F;
  padding: 10px 25px 10px 25px;
  font-size: 21px;
  margin-top: 2.0833333333vw;
  padding-left: 2.6041666667vw;
  padding-right: 2.6041666667vw;
}
.finalSection_button:hover {
  transform: scaleX(1.1);
}

/*******BUTTONS END*********/

/*******CASE STUDIES HEADER START*****/
.case_studies_container_header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/BigCarrousel/img1.png");
  background-size: 100% 132%;
  background-position: center;
  position: relative;
}

.case_studies_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case_studies_layout_content {
  width: 100%;
  margin-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 20;
}

.case_studies_container_header_divImg {
  width: 100%;
}

.case_studies_container_header_div_imgCircle {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.case_studies_container_header_div {
  width: 100%;
  height: auto;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.case_studies_container_header_div_h1 {
  color: #FFFFFF;
  font-size: 100px;
  margin-bottom: 25px;
  margin-right: 300px;
}

.case_studies_container_header_div_h3 {
  color: #F9C216;
  font-size: 40px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/*--MediaQueries--*/
@media (max-width: 1366px) {
  .case_studies_container_header_div {
    padding-top: 80px;
    padding-bottom: 200px;
  }
  .case_studies_container_header_div_h1 {
    font-size: 70px;
    margin-right: 150px;
  }
}
@media (max-width: 1300px) {
  .case_studies_container_header_div_h1 {
    margin-right: 100px;
  }
}
@media (max-width: 1150px) {
  .case_studies_container_header_div_h1 {
    margin-right: 0;
  }
}
@media (max-width: 840px) {
  .case_studies_container_header_div {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 700px) {
  .case_studies_container_header_div {
    padding-top: 20px;
  }
  .case_studies_container_header_div_h1 {
    font-size: 50px;
  }
  .case_studies_container_header_div_imgCircle {
    width: 90px;
  }
}
@media (max-width: 600px) {
  .case_studies_container_header_div_imgCircle {
    display: none;
  }
}
@media (max-width: 500px) {
  .case_studies_container_header_div {
    padding-left: 50px;
    padding-right: 50px;
  }
  .case_studies_container_header_div_h1 {
    font-size: 40px;
  }
}
@media (max-width: 1920px) {
  .case_studies_container_header_divImg {
    width: 100%;
    height: auto;
  }
  .case_studies_container_header_div_img {
    max-width: 100%;
    height: auto;
    min-height: 350px;
  }
}
/*******CASE STUDIES HEADER END*****/

/*******CASE STUDIES CIRCLE START*****/
.background_circle {
  padding-right: 165px;
  background: transparent;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(51%, transparent), color-stop(51%, #FFFFFF), color-stop(100%, #FFFFFF));
  background: linear-gradient(to bottom, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="transparent", endColorstr="#FFFFFF", GradientType=0 );
}

.container_small_circle {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.background_circle img {
  float: right;
  width: auto;
  height: 100%;
}

@media (max-width: 1366px) {
  .background_circle {
    padding-right: 120px;
  }
}
@media (max-width: 800px) {
  .background_circle {
    padding-right: 50px;
  }
}
/*******CASE STUDIES CIRCLE END*****/

/*******CASE STUDIES SECTIONS START*****/
.case_studies_container_main {
  width: 100%;
  height: auto;
}

.container_sections {
  width: 100%;
  height: auto;
  padding-left: 140px;
  padding-right: 250px;
}

.content_text {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.section_titles {
  width: 32%;
  float: left;
  text-align: end;
  padding-right: 70px;
}

.title_uppercase {
  text-transform: uppercase;
  font-weight: lighter;
  color: #343D3F;
  font-size: 30px;
  opacity: 1;
  margin-bottom: 60px;
}

.title {
  color: #343D3F;
  font-size: 30px;
  opacity: 1;
  margin-bottom: 80px;
}

.title_marginTop {
  margin-bottom: 50px;
}

.section_explication {
  float: right;
  width: 68%;
  height: auto;
  padding-left: 80px;
  border-left: 1px solid rgba(52, 61, 63, 0.1215686275);
  margin-bottom: 150px;
}

.section_explication h2 {
  color: #343D3F;
  font-size: 30px;
  opacity: 1;
  margin-bottom: 30px;
}

.section_explication p, .section_explication li {
  color: #343D3F;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 25px;
}

.section_explication li {
  list-style-image: url("../img/ListImg/listImg.png");
}

.index_page {
  clear: both;
  width: 100%;
  height: auto;
  padding-top: 5px;
  margin-bottom: 97px;
  padding-left: 140px;
}

.index_page p {
  font-size: 24px;
  margin-top: 25px;
  color: #343D3F;
  opacity: 0.5;
}

.index_page_span1 {
  color: #343D3F;
  opacity: 0.5;
}

.index_page_span2 {
  color: #273058;
}

.title_paddingTop {
  margin-top: 50px;
}

@media (max-width: 1400px) {
  .container_sections {
    padding-right: 200px;
  }
  .section_titles {
    width: 25%;
  }
  .section_explication {
    width: 75%;
  }
}
@media (max-width: 1320px) {
  .container_sections {
    padding-right: 100px;
  }
  .section_titles {
    padding-right: 30px;
  }
  .section_explication {
    padding-left: 50px;
  }
}
@media (max-width: 1060px) {
  .container_sections {
    padding-right: 100px;
  }
  .section_titles {
    padding-right: 20px;
  }
  .section_explication {
    padding-left: 30px;
  }
  .index_page {
    padding-left: 100px;
  }
}
@media (max-width: 1000px) {
  .container_sections {
    padding-left: 100px;
  }
}
@media (max-width: 980px) {
  .section_titles {
    width: 30%;
  }
  .section_explication {
    width: 70%;
  }
}
@media (max-width: 850px) {
  .section_titles {
    display: none;
  }
  .section_explication {
    width: 100%;
  }
  .content_text {
    height: 200vh;
  }
  .container_sections {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 750px) {
  .index_page {
    margin-top: 50px;
    padding-left: 40px;
  }
}
@media (max-width: 700px) {
  .content_text {
    height: 220vh;
  }
}
@media (max-width: 616px) {
  .container_sections {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 530px) {
  .container_sections {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .content_text {
    height: 250vh;
  }
}
@media (max-width: 430px) {
  .content_text {
    height: 270vh;
  }
}
@media (max-width: 390px) {
  .content_text {
    height: 290vh;
  }
}
/*******CASE STUDIES SECTIONS END*****/

/*******CASE STUDIES IMG START*****/
.container_background_img {
  width: 100%;
  height: 550px;
  background-image: url("../img/Gallery/Group\ 484.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_background_img h2, .container_background_img h3 {
  color: #FFFFFF;
  letter-spacing: 2.4px;
  text-align: center;
  opacity: 1;
  font-weight: lighter;
}

.container_background_img h2 {
  font-size: 60px;
  margin: 0 0 20px 0;
}

.container_background_img h3 {
  font-size: 30px;
}

@media (max-width: 850px) {
  .container_background_img h2 {
    padding-top: 100px;
    font-size: 40px;
  }
  .container_background_img h3 {
    font-size: 25px;
  }
  .container_background_img {
    display: block;
  }
}
@media (max-width: 650px) {
  .container_background_img h2 {
    padding-top: 70px;
  }
  .container_background_img h3 {
    display: none;
  }
}
@media (max-width: 480px) {
  .container_background_img h2 {
    font-size: 30px;
  }
  .container_background_img h3 {
    font-size: 20px;
  }
}
/*******CASE STUDIES IMG END*****/

/*******FINAL SECTION START*****/
.sectionEnd {
  margin-top: 7.8125vw;
  width: 100%;
  height: 35vh;
  padding-left: 10.4166666667vw;
  padding-right: 10.4166666667vw;
  display: flex;
  text-align: center;
}

.sectionEnd_hr {
  width: 0.3125vw;
  height: 26.0416666667vw;
  background-color: #333;
  transform: rotateY(90deg);
}

.sectionEnd_div1 {
  width: 50%;
  height: 50%;
  border-right: 1px solid rgba(51, 51, 51, 0.0784313725);
}

.sectionEnd_div2 {
  width: 50%;
  height: 100%;
}

.sectionEnd_h1 {
  font-size: 3.125vw;
  color: #343D3F;
}

.sectionEnd_button {
  margin-top: 2.0833333333vw;
  padding-left: 2.6041666667vw;
  padding-right: 2.6041666667vw;
}

/*******FINAL SECTION END*****/
